
.style2 {font-size: 14px}

.fontmenu 
{
 	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
}
.bckgr
{
    background-image:url('../images/0.jpg');
    background-repeat:no-repeat;
    background-position:center; 
    background-color:#D5EAFF;
 }

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 10px;
    font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:justify;
}

body {
     background-image:url('../images/0.jpg');
    background-repeat:no-repeat;
    background-position:center; 
    background-color:#D5EAFF;
}

.container2 
{ 
 text-align:justify;
 font-size:6px; 
 font-family:Verdana, Arial, Helvetica, sans-serif;
 color:#FFFF99; 
}

.yellolink
{
	cursor:pointer;
	font-size:10px; 
	font-style:normal; 
	font-family:Clear,Palomino,Verdana, Arial, Helvetica, sans-serif; 
	color:#FFFF99; 
	vertical-align:middle; 
}

#msviQL
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0px 2px 0px 9px;
	margin: 0px;
	width: 463px;
	border-style: solid;
	border-color: #999999;
	border-width: 1px 2px 2px 1px;
	background-color: #ffffff;
	color:#000000;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#a9a9a9,direction=135, strength=3);
}

#msviQL h5
{
	font-size: 65%;
	font-weight: bold;
	margin: 8px 0px 2px 0px;
	color: #003399;
}

#msviQL td.msviqlhrtd
{
	padding:0px 0px 0px 6px;
}

#msviQL tr > td.msviqlhrtd
{
	padding: 3px 0px;
}

#msviQL td
{
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

#msviQL td div
{
	width: 143px;
	padding: 0px 0px 5px 0px;
	margin:0px 0px 0px 7px;
}

#msviQL p.msviqlspacer
{
	padding:7px 0px 0px 0px;
	margin:0px;
}

#msviQL tr > td > div
{
	width: 143px;
	padding: 0px 7px 5px 0px;
	margin: 0px;
}

#msviQL tr > td > hr
{
	color: #d0e0f0;
	width: 100%;
	margin: 0px;
	background-color: #d0e0f0;
	height: 1px;
}

#msviQL tr td hr
{
	color: #d0e0f0;
	width: 99%;
	margin: -3px;
	padding: 0px;
	height: 1px;
	overflow: hidden;
}

#msviQL ul
{
	margin: 0px;
	padding:0px;
	display: block;
	list-style-type: none;
	font-size:100%;
	background-image:none;
	list-style-image:none;
}

#msviQL li
{
	width: 143px;
	display: block;
	margin:0px 0px 1px 0px;
	list-style-type: none;
	font-size:100%;
	background-image:none;	
	padding:0px;
	list-style-image:none;	
}

#msviQL li a
{
	color: #000000;
	text-decoration: none;
	padding: 1px 0px 1px 3px;
	display: block;
	vertical-align: middle;
	border: solid 1px #ffffff;
	height: 11px;
	font-size: 65%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
}

#msviQL a:hover
{
	border: solid 1px #a2c5eb;
	background-color: #f0f7fd;
	cursor: pointer;
	vertical-align: middle;
	display: block;
}

#msviQL div > ul > li > a:hover, #msviQL div > ul > li > a
{
	height: auto;
}

